.navbar-main-container {
  box-shadow: 0 4px 2px -2px gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
}

.navbar-logo-container img {
  width: 180px;
  object-fit: cover;
}