.navbar-main-container {
  box-shadow: 0 4px 2px -2px gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
}

.navbar-logo-container img {
  transition: all 0.5s ease-in-out;
  width: 180px;
  object-fit: cover;
}

.shrinked-logo img {
  transition: all 0.5s ease-in-out;
  width: 120px;
}

.post-article-btn {
  transition: all 0.5s ease-in-out;
}

.shrinked-btn {
  transition: all 0.5s ease-in-out;
  font-size: 12px;
}