.navbar-brand img {
  height: 36px;
  width: 36px;
}

.swiper-wrapper {
  position: relative;
}

.swiper-slide img {
  object-fit: cover;
  height: 100%;
}

.swiper {
  position: relative;
  width: 100%;
  height: 600px;
  --swiper-pagination-color: white;
}

.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: transparent;
  color: white;
}

.jumbotron p button {
  background-color: transparent;
  border: 1.6px solid white;
  color: white;
}

.jumbotron p button:focus,
.jumbotron p button:active {
  box-shadow: none;
}

.jumbotron p:first-of-type {
  border-bottom: 1.6px solid rgb(200, 200, 200, 0.6);
}

.navbar-collapse div {
  gap: 24px;
}

.cards-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.card {
  width: 14rem;
  height: 22rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: none;
  border: .4px solid black;
}

.card img {
  height: 8rem;
}

.card-body h5 {
  height: 2.8rem;
}

.card-body>div:nth-child(1) {
  gap: 12px;
  align-items: flex-start;
  justify-content: space-between;
}

.duration-and-transportation-container div {
  gap: 6px;
}

.duration-and-transportation-container p,
.duration-and-transportation-container i {
  font-size: 14px;
  color: rgb(100, 100, 100)
}

.rating-travel-container {
  gap: 4px;
  align-items: center;
}

.rating-travel-container div {
  gap: 2px;
}

.rating-travel-container div i,
.rating-travel-container p:first-of-type {
  color: orange;
}

.rating-travel-container p:nth-of-type(2) {
  font-size: 12px;
  color: rgb(100, 100, 100)
}

.travel-price-container {
  gap: 4px;
}

.travel-price-container p {
  margin: 0;
}

.discounted-price {
  color: green
}

.old-price {
  font-size: 12px;
  color: rgb(100, 100, 100);
  text-decoration: line-through;
}

.regular-price {
  color: black;
}

html {
  scroll-behavior: smooth;
}