.logo-container {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.nav-tabs {
  cursor: pointer;
}

.nav-tabs li:hover {
  text-decoration: underline;
}

.search-container {
  height: 32px;
}

.search-container input {
  min-width: 200px;
  padding: 4px 36px 4px 10px;
  border-radius: 24px;
  outline: none;
  border: none;
}

.search-container input::-webkit-search-cancel-button {
  display: none;
}

.search-icon-container {
  transform: translateY(3px);
  cursor: pointer;
}

.settings-icon-container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
}

.settings-icon-container:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.18);
}

.profile-picture-container {
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.profile-picture-container img {
  border-radius: 50%;
}

.profile-picture-container:hover {
  transform: scale(1.05);
}

.hero-img-container {
  height: 500px;
}

.hero-title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: white;
}

.product-card-container {
  cursor: pointer;
  border-radius: 6px;
  padding: 6px;
}

.product-card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-card-img-container {}

.product-card-price::before {
  content: "price: ";
}

.add-product-icon {
  height: 48px;
  width: 48px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  right: 54px;
  bottom: 54px;
  background-color: rgba(69, 143, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
}

.add-product-icon:hover {
  transform: scale(1.04);
  background-color: rgba(69, 143, 255, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input:focus {
  box-shadow: none !important;
}

.settings-product-image-container {
  width: 40px;
  height: 40px;
}

.settings-product-remove-button {
  color: #dc3545;
  background-color: white;
  border: 1px solid #dc3545;
  border-radius: 3px;
  padding: 3px 4px;
  font-size: 8px;
}

.settings-product-remove-button:hover {
  color: white;
  background-color: #dc3545;
}