.logo-container {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.nav-tabs {
  cursor: pointer;
}

.nav-tabs li:hover {
  text-decoration: underline;
}

.search-container {
  height: 32px;
}

.search-container input {
  min-width: 200px;
  padding: 4px 36px 4px 10px;
  border-radius: 24px;
  outline: none;
  border: none;
}

.search-container input::-webkit-search-cancel-button {
  display: none;
}

.search-icon-container {
  transform: translateY(3px);
  cursor: pointer;
}

.settings-icon-container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
}

.settings-icon-container:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.18);
}

.profile-picture-container {
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.profile-picture-container img {
  border-radius: 50%;
}

.profile-picture-container:hover {
  transform: scale(1.05);
}

.hero-img-container {
  height: 500px;
}

.hero-title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: white;
}

.product-card-container {
  cursor: pointer;
  border-radius: 6px;
  padding: 6px;
}

.product-card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-card-img-container {}

.add-product-icon {
  height: 48px;
  width: 48px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  right: 54px;
  bottom: 54px;
  background-color: rgba(69, 143, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
}

.add-product-icon:hover {
  transform: scale(1.04);
  background-color: rgba(69, 143, 255, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input:focus {
  box-shadow: none !important;
}

.edited-product-row-item td,
.edited-product-row-item th {
  background-color: transparent;
  animation: 2s editedProductLight ease-in-out;
}

@keyframes editedProductLight {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #2196F3;
  }

  100% {
    background-color: transparent;
  }
}

.add-new-product-form-btn {
  background-color: #2196F3;
}

.add-new-product-form-btn:hover {
  background-color: #38a6ff;
}

.add-new-product-form-btn:active {
  background-color: rgb(0, 0, 255) !important;
}

.product-details-price::before {
  content: "price: ";
}

.product-details-price::after {
  content: " $";
}

.settings-product-image-container {
  width: 40px;
  height: 40px;
}

.settings-product-remove-button {
  color: #dc3545;
  background-color: white;
  border: 1px solid #dc3545;
  border-radius: 24px;
  padding: 4px 6px;
  font-size: 8px;
}

.settings-product-remove-button:hover {
  color: white;
  background-color: #dc3545;
}

.settings-product-edit-button {
  color: #2196F3;
  background-color: white;
  border: 1px solid #2196F3;
  border-radius: 24px;
  padding: 4px 6px;
  font-size: 8px;
}

.settings-product-edit-button:hover {
  color: white;
  background-color: #2196F3;
}

.product-details-main-container {
  border: 1px solid black;
  border-radius: 12px;
  overflow: hidden;
}

.product-details-img-container {
  max-width: 50%;
}

.to-edit-product-name:before,
.to-edit-product-brand:before,
.to-edit-product-price:before,
.to-edit-product-image-url:before,
.to-edit-product-description:before {
  font-weight: 200;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.to-edit-product-name:before {
  content: "Current product name: ";
}

.to-edit-product-brand:before {
  content: "Current product brand: ";
}

.to-edit-product-price:before {
  content: "Current product price: ";
}

.to-edit-product-image-url {
  padding-bottom: 12px;
  margin-bottom: 6px;
  overflow-x: scroll;
  width: 100%;
  text-wrap: nowrap;
}

.to-edit-product-image-url:before {
  content: "Current product URL Image: ";
}

.to-edit-product-description:before {
  content: "Current product description: ";
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.zoomable {
  width: 100%;
  display: block;
  object-fit: cover;
  cursor: none;
  position: relative;
}

.zoom-lens {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  pointer-events: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: opacity 0.1s ease;
  opacity: 0;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid black;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}