.book-card:hover {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book-card-img-container {
  height: 75%;
  /*
  min-height: 300px;
  max-height: 400px;
  */
  overflow: hidden;
}