.toggle-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50px;
}

.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  color: rgb(120, 120, 120);
  transition: .6s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-weight: thin;
}

.slider:before {
  position: absolute;
  text-align: center;
  align-content: center;
  content: "Log in";
  height: 40px;
  width: 46%;
  background-color: white;
  color: black;
  font-weight: bold;
  transition: .6s;
}

input:checked+.slider {
  background-color: #ccc;
}

input:focus+.slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked+.slider:before {
  transform: translateX(100%);
  content: "Sign up";
}

.slider-text {
  color: rgb(120, 120, 120);
  text-align: end;
}

.slider.round {
  border-radius: 4px;
}

.slider.round:before {
  border-radius: 4px
}