.book-card {
  border: none;
}

.book-card:hover {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book-card-img {
  overflow: hidden;
}

.book-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.book-card-category-badge {
  font-size: 10px;
}

.book-card-comment-button {
  font-size: 8px;
}