.book-card {
  border: none;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.15s ease-in-out;
}

.book-card-dark {
  background-color: black;
  color: white;
}

.book-card:hover {
  transform: scale(1.04);
}

.book-card-title {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.book-card-category-badge {
  font-size: 10px;
}

.book-card-comment-button {
  font-size: 8px;
}