ul {
  list-style: none;
  padding-left: 4px;
  overflow-y: scroll;
  max-height: 300px;
}

ul li:nth-of-type(1) {
  color: darkblue;
  text-decoration: underline;
}

ul li:nth-of-type(3):before {
  content: "Rating:";
  font-weight: 800;
  text-decoration: underline;
  margin-right: 6px;
}

.review-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.review-icon:hover {
  color: red;
}