ul {
  list-style: none;
  padding-left: 4px;
}

.comment-author-list-item {
  color: darkblue;
  text-decoration: underline;
}

.comment-rate-list-item:before {
  content: "Rate:";
  font-weight: 800;
  text-decoration: underline;
  margin-right: 6px;
}

.review-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.review-icon:hover {
  color: red;
}