.profile-card-container {
  display: flex;
  flex-shrink: 1;
  align-items: center;
  min-width: 60px;
  max-width: 400px;
  width: auto;
}

.profile-card-container:hover {
  cursor: pointer;
}

.profile-avatar-shrinked-container,
.profile-avatar-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.profile-avatar-shrinked-container {
  transition: all 0.5s ease-in-out;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}

.profile-avatar-container {
  transition: all 0.5s ease-in-out;
  min-width: 48px;
  max-width: 48px;
  min-height: 48px;
  max-height: 48px;
}

.profile-avatar-shrinked-container img,
.profile-avatar-container img {
  display: inline-block;
  border-radius: 50%;
}

.profile-card-fullname {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
  min-width: 20px;
  flex-shrink: 1;
}

.remove-dropdown-toggle::after {
  display: none !important;
}

.remove-dropdown-toggle {
  display: none !important;
}

.profile-card-container .dropdown-menu {
  transform: translateY(30px);
}