.book-details-main-container {
  min-height: calc(100vh - 76px - 365px);
  padding: 34px 0;
  background-color: rgb(210, 210, 210);
}

@media (max-width: 768px) {
  
  .book-details-main-container {
    min-height: calc(100vh - 76px - 280px)
  }

}

  .book-details-img-container {
    max-width: 400px;
  }