/* mobile */
@media (max-width: 767px) {
  main {
    position: relative;
    padding: 10px;
  }

  .main-title-container {
    height: 100px;
  }

  .main-title-container h4 {
    align-self: flex-end;
  }

  .hero {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-left {
    order: 2;
  }

  .hero-left h1,
  .hero-left p {
    width: 200%;
  }

  .hero-right {
    order: 1;
  }

  .features-container {
    flex-direction: column;
  }

  .features-card {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
  }

  .features-card .left-section .rotated-square {
    height: 80px;
    width: 80px;
  }

  .features-card .left-section .rotated-square img {
  transform: translate(70%, 70%) rotate(-45deg);
  width: 32px;
}

  .main-articles-container {
    flex-direction: column;
    align-items: center;
  }

  .main-articles-card {
    width: 90%;
    margin-bottom: 32px;
  }

  .main-articles-container .main-articles-card:nth-child(odd) {
    border-right: none;
    padding-right: 0px;
  }

  .main-articles-container .main-articles-card:nth-child(even) {
    border-left: none;
    padding-left: 0px;
  }

  aside {
    position: absolute;
    box-shadow: 6px 0 5px 0px rgba(136, 136, 136, 0.265);
  }

  .hide-sidebar {
    box-shadow: none;
  }

  #menu-icon-button {
    width: 32px;
    color: #3d4449;
    background-color: rgba(198, 198, 198, 0.400);
    padding: 12px;
    border-radius: 6px;
    transform: translateX(30%);
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  aside {
    position: absolute;
    z-index: 100;
    box-shadow: 6px 0 5px 0px rgba(136, 136, 136, 0.265);
  }

  main {
    position: relative;
  }

  .features-container {
    flex-direction: column;
  }

  .features-card {
    width: 100%;
  }
}